{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style>
.btn-primary{
    background-color: #b3b3b3;
    stroke: 0;
    outline-offset: 0px;
    border-color: transparent;
    border-radius: 40px;
    padding: 12px 20px 12px 20px;
    margin: auto;
}
.card{
    border-radius: 40px;
    border-color: light-gray;
    padding: 14;
}
h1 {
    padding-bottom: 20px;
    color: #515656;
}
.page-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    clear:both;
}
</style>

<h1>All Analyses</h1>
<div class="row">
    {% for analysis in analyses %}
    <div class="col-md-4">
        <div class="card mb-2">
            <a href="{% url 'analysis_detail' analysis.pk %}">
                <img class="card-img-top" src="{% static analysis.preview_image %} " height="300">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ analysis.name }}</h5>
                <p class="card-text">{{ analysis.description }}</p>
                <a href="{% url 'analysis_detail' analysis.pk %}" class="btn btn-primary shadow-none">
                    View
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}