<div class="answer-container">
    <div class="centered row">
        <h3>{{response.question}}</h3>
    </div>
    <div class="centered row">
        <div class="row">
            <p>
                {{response.answer_text}}
            </p>
        </div>
        <div class="block_answer container-fluid">
            <a href="https://{{ answer.link_one }}"> {{response.link_one}} </a>
        </div>
        <div class="block_answer container-fluid">
            <a href="https://{{ answer.link_two }}"> {{response.link_two}} </a>
        </div>
    </div>

</div>