<div class="answer-container">
    <div class="centered row">
        <h3>{{response.question}}</h3>
    </div>
    <div class="centered row">
        <div class="row block_answer container-fluid" style="padding-top: 20px;">
            {{response.answer_one}}
            <br>
            <a href="{{response.link_one}}"> {{response.link_one}} </a>
        </div>
        <br>
        <div class="row block_answer container-fluid" style="padding-top: 20px; padding-bottom: 5px;">
            {{response.answer_two}}
            <br>
            <a href="{{response.link_two}}"> {{response.link_two}} </a>
        </div>
    </div>

</div>